.container{
	.row{
	.col-sm-4{
		color:deepskyblue;
	}
	.col-sm-8{
		.col-sm-2{
		border:1px solid black;
		border-radius:10px;
		Margin-top:20px;
		font-size: 1em;
		padding: 10px;
		margin-left: 20px;
		text-align:center;
		font-family: Cursive;
		float:right;
		}
	}
	}
	}

